.navbar ul {
    list-style: none;
}
.navbar li {
    display: inline;
    margin: 40px;
}
body {
    background-image: url("background.jpg");
}
section .static {
    position: static;
    border: 3px solid#73AD21;
}
p {
    color: rgb(247, 243, 243);
}
.hb {
    color: azure;
}
.logo {
    color: azure;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33333357;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .img {
    float: right;
  }
div {
  background-color: rgba(211, 211, 211, 0);
  color: blanchedalmond;
}
h1 {
  color: bisque;
}
.contact-info h2 {
  color: bisque;
}
body {
  font-family: 'roboto', sans-serif;
}
